.OrganizationPage{
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    gap: 20px;
    background: var(--color-bg);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.OrgleftNav{
    display: flex;
    gap: 20px;
    /* background: red; */
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
}

.OrgbodyBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    box-sizing: border-box;

  
}
.OrgboxB{
    background: var(  --color-bg-variant);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}

 .createOrg{

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.addOrgBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #047DD6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

.organizationTab{
    display: grid;
    grid-template-columns: 0.1fr 5fr 0.2fr;
    gap: 20px;
    padding: 10px;
    /* border-radius: 10px; */
    background-color: var(--color-bg);
    width: 100%;
    box-sizing: border-box;
}

.pagTab{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



