.System{
    display: grid;
    grid-template-columns: 1.8fr 5fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: var(--color-bg);
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.leftNav{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    /* background-color: #047DD6; */
}



.bodyBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 10px; */
    /* overflow: scroll; */
    height: 100%;
    /* background-color: aqua; */
    box-sizing: border-box;
}



.officers{
    background: #F5F5F5;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px;
    overflow: scroll;
}

.officer{
display: grid;
grid-template-columns: 0.1fr 2fr 0.5fr 0.1fr;
padding: 10px;
align-items: center;
gap: 10px;
width: 100%;
/* height: 60px; */
border-radius: 10px;
background: #FFF;
box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
box-sizing: border-box;
}

.officerImg{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 80px;
   object-fit: cover;
}
.officerName{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.vActivity{
    display: inline-flex;
    padding: 10px ;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #047DD6;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.moreOption{
    width: 20px;
    height: 20px;
    color: #000;
    
}

@media screen and (max-width: 1200px) {
   .leftNav{
    /* position: relative; */
   }
  }

  @media screen and (min-width: 801px) and (max-width: 2000px) {
    .leftNav{
        /* position: sticky;
        left: 0; */
       }
  }
