.Configuration{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #F5F5F5;
    overflow: scroll;
    position: relative;
}

.cHeader{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.headerText{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.headerSub{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.scTop{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    width: 100%;
    height: 400px;
    /* align-items: center; */
    gap: 20px;
}

.uManagement{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    gap: 10px;
    border-radius: 15px;
    background: #FFF;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
}

.pConfiguration{
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    /* position: relative; */
    gap: 10px;
    border-radius: 15px;
    background: #FFF;
    padding: 10px;
    box-sizing: border-box;
    overflow: scroll;
   
}

.topCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cardText{
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #047DD6;
}

.userList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    box-sizing: border-box;
    margin-bottom: 10px;

}

._user{
    display: grid;
    grid-template-columns: 0.1fr 3fr 0.1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    gap: 5px;
    border-bottom: 1px solid black;
    /* background: red; */
}

.user_{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userName_{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.UserRole{
    color: rgba(0, 0, 0, 0.56);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.addAccount{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    /* padding-bottom: 0; */
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    background-color: #80BAEF;
}

.addText{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.selectSpeed{
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #80BAEF;
    cursor: pointer;
}

.speedText{
    color: #047DD6;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pConfig_{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 10px;
   box-sizing: border-box;


}

.Config_{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.40);
    box-sizing: border-box;
    gap: 10px;
}

.speenKM{
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    /* max-width: 80px; */
}

.speedName{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* max-width: 250px; */
    /* width: 100px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.kmText{
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.addSpeed{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    /* background-color: brown; */
}

.symbol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 16px;
    border: 0.8px solid #047DD6;
    background: #FFF;
    overflow: hidden;
    display: inline-flex;
    width: 50px;
    height: 15px;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    /* gap: 10px; */
}

.minus,.add_{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
}

.add_{
    width: 100%;
    background-color: #047DD6;
}

.scBottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background: #FFF;
    align-items: flex-start;
    box-sizing: border-box;
    /* overflow: scroll; */
}
.accessUsers{
    width: 100%;
    display: flex;
    /* background-color: bisque; */
}

.accessTable{
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #D9D9D9 !important; */
}

.HeadText{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.accessBody{
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    border-bottom: 1px solid #D9D9D9 !important; 

}
.accessName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.accessMail{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.loggedInStatus{
    color: #4DB81A;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.notLoggedInStatus{
    color: #EC1919;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userRole{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;

}

.roleBox{
    width: 100%;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
}



.super_AdminRole{
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 5px ;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #595443;
    box-sizing: border-box;
}

.ManagerRole{
    display: inline-flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #F8C510;
    color: #000;

    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AuditorRole{
    display: inline-flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #4DB81A;
    color: #000;

    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.accessAction{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    gap: 4px;
    /* background-color: #4DB81A; */
}

.leftAction , .rightAction{
display: grid;
grid-template-columns: 0.1fr 1fr ;
align-items: center;
gap: 5px;
width: 100%;
cursor: pointer;
}

.actionText{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}




@media screen and (max-width: 1200px) {
.uManagement{
    /* background-color: #4DB81A; */
    padding: 10px;
    width: 100%;
}

.userList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    /* background: #F8C510; */
    box-sizing: border-box;

}

._user{
    display: grid;
    grid-template-columns: 0.1fr 3fr 0.1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    gap: 5px;
    border-bottom: 1px solid black;
    /* background: red; */
}

.userName_{
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.UserRole{
    color: rgba(0, 0, 0, 0.56);
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.topCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 10px;
}


.cardText{
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 10px ;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #047DD6;
    white-space: nowrap;
}


.speedText{
    color: #047DD6;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}



.speenKM{
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.speedName{
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}

.kmText{
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}

.addedAmount{
    font-size: 10px;
    white-space: nowrap;
}

.pConfig_{
padding: 0;
}
.Config_{
    width: 100%;
    padding: 0;
    padding-bottom: 5px;
}

.scBottom{
    overflow: scroll;
    height: 100%;
}
   }

 
  