.AuthContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* border-radius: 30px; */
    background: linear-gradient(110deg, #4F97DA -2.66%, rgba(79, 151, 218, 0.00) 116.02%);
}

.AContainer{
    display: grid;
    grid-template-columns: 9fr 0.5fr;
    width: 100%;
    height: 100%;
    align-items: center;
}
.containerFormBox{
    padding: 10px 30px 30px 30px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
}

.imgBox{
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    
}

.LogoImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.containerBody{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.formBodyText{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.mdHeader{
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.9px;
}

.BodyHeader{
    color: #FFF;
    font-family: "Montserrat Alternates";
    font-size: 135px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bodyP{
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formBody{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    background: #047DD6;
    
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.formFiled{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(95deg, #D9D9D9 -21.88%, #D9D9D9 -3.78%, rgba(255, 255, 255, 0.00) 120.01%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
   box-sizing: border-box;
    padding: 10px 30px 10px 30px;
    gap: 10px;
    /* justify-content: flex-end; */
}
.BodyFormInput{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
}


.labelText{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.formWarning{
    display: flex;
    align-items: center;
    gap: 10px;
}

.warningText{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.SubmitBTN{
    color: #047DD6;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 30px;
    background: #FFF;
    display: inline-flex;
    padding: 10px 30px 10px 30px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.inputIcon{
    cursor: pointer;
    font-size: 15px;
}

.forgotP{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}

.resetText{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border-bottom: 1px solid #FFF; */
}

.restP{
    border-bottom: 1px solid #FFF;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.containerText{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    /* border-radius: 0px 30px 30px 0px; */
    background: linear-gradient(179deg, #047DD6 -9.86%, rgba(4, 125, 214, 0.00) 99.1%);
}

.rotateText{
   
    transform: rotate(90deg);
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.5px;
    white-space: nowrap;
}